@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.bg-figure {
  background: #333;
  position: fixed;
  width: 100vw;
  height: 130vw;
  transform: rotate(45deg);
  left: -50vw;
  top: -50vw;
  box-sizing: border-box;
  border-radius: 3%;
  z-index: -1;
}
